@charset "UTF-8";
@font-face {
  src: url("../../fonts/opensans.woff2") format("woff2"), "../../fonts/opensans.woff" format("woff");
  font-family: "open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/opensansbold.woff2") format("woff2"), "../fonts/opensansbold.woff" format("woff");
  font-family: "open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url("../fonts/opensans.woff2") format("woff2");
  src: url("../fonts/opensans.woff") format("woff");
  font-family: "open Sans";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  src: url("../fonts/opensans.woff2") format("woff2");
  src: url("../fonts/opensansbold.woff") format("woff");
  font-family: "open Sans";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "open sans", sans-serif;
  background-color: #ffffff;
  color: #444444;
  font-weight: 400;
}

.container {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 668px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .container {
    width: 1050px;
    margin: 0 auto;
  }
}
.title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  display: block;
  color: #000000;
  margin: 0;
}

.title_size_l {
  font-size: 27px;
}

.title-form {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  display: block;
  text-transform: uppercase;
  margin: 0;
}

.title-catalog {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: block;
  color: #000000;
  margin: 0;
}

.main-nav {
  display: grid;
  z-index: 1;
}
.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav__link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .main-nav__link_saze-m {
    font-size: 15px;
  }
}
@media (min-width: 1150px) {
  .main-nav__link_saze-l {
    font-size: 17px;
  }
}
@media (min-width: 768px) {
  .main-nav__link-search {
    padding: 36px 32px 34px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
}
@media (min-width: 768px) {
  .main-nav__link-basket {
    padding: 33px 0 31px 53px;
  }
}
@media (min-width: 1150px) {
  .main-nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}
.main-nav__logo-link {
  padding: 22px 0;
}

@media (min-width: 1150px) {
  .main-nav__logo-link {
    grid-column: 2/3;
    padding: 9px 101px 13px 70px;
  }
}
@media (min-width: 768px) {
  .main-nav__list-user {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    position: relative;
  }
}
@media (min-width: 1150px) {
  .main-nav__list-user {
    grid-column: 3/4;
    display: flex;
  }
}
@media (min-width: 768px) {
  .main-nav__list-user::after {
    content: "Бесплатная доставка по России";
    position: absolute;
    top: 94px;
    font-size: 15px;
    color: #444444;
    line-height: 24px;
    right: 0;
  }
}
@media (min-width: 1150px) {
  .main-nav__list-user::after {
    content: "Бесплатная доставка по России";
    position: absolute;
    right: 0;
    top: 80px;
    font-size: 15px;
    color: #444444;
    line-height: 24px;
  }
}
@media (min-width: 768px) {
  .main-nav__list-shop {
    grid-row: 2/2;
    display: flex;
    gap: 30px;
    margin-right: 20px;
  }
}
@media (min-width: 1150px) {
  .main-nav__list-shop {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 50px;
    align-items: center;
  }
}
.main-nav__item-decor {
  position: relative;
}

@media (min-width: 1150px) {
  .main-nav__item-decor::after {
    content: "";
    position: absolute;
    border-left: 1px solid #ececec;
    width: 1px;
    height: 88px;
    right: -30px;
    bottom: -28px;
  }
}
.main-nav__list-shop-new {
  display: none;
}

@media (min-width: 1150px) {
  .main-nav__list-shop-new {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 50px;
  }
}
@media (min-width: 768px) {
  .main-nav__text {
    display: none;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  flex-grow: 1;
}

.hero {
  width: 320px;
}

.hero__image {
  background-image: url("../img/background/background-hero-mobile.jpg");
  background-repeat: no-repeat;
  border-top: 1px solid #ececec;
  margin-top: -24px;
}

.hero__container {
  width: 320px;
}

.hero__title {
  text-align: center;
  padding-top: 73px;
  padding-bottom: 110px;
}

.hero__list {
  list-style: none;
  padding: 0;
  margin: 30px 0;
}

.hero__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

.hero__item {
  padding: 24px 0 31px 30px;
  position: relative;
}
.hero__item_light-green {
  background-color: #63d1bb;
}
.hero__item_green {
  background-color: #56c3b2;
}
.hero__item_interior::before {
  content: "";
  position: absolute;
  background-image: url("../img/interior.svg");
  width: 40px;
  height: 62px;
  right: 36px;
}
.hero__item_toys::before {
  content: "";
  position: absolute;
  background-image: url("../img/toy.svg");
  width: 60px;
  height: 60px;
  right: 27px;
}

.button {
  font-family: "open sans", sans-serif;
  line-height: 20px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  display: inline-block;
  cursor: pointer;
}

.header-form {
  background-color: #f1f1f1;
}

.header-form__title {
  text-align: center;
  padding: 73px 0;
}

.control {
  position: relative;
  display: block;
  padding-bottom: 23px;
}

.control__mark-radio {
  position: absolute;
  width: 42px;
  height: 42px;
  border: 2px solid #444444;
  border-radius: 50%;
  top: -12px;
}

@media (min-width: 768px) {
  .control__mark-radio {
    width: 52px;
    height: 52px;
  }
}
.control input[type=radio]:checked + .control__mark-radio::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #62d1ba;
  left: 12px;
  top: 12px;
}

@media (min-width: 768px) {
  .control input[type=radio]:checked + .control__mark-radio::after {
    content: "";
    width: 22px;
    height: 22px;
    left: 15px;
    top: 15px;
  }
}
.control__mark-checkbox {
  position: absolute;
  width: 38px;
  height: 38px;
  border: 2px solid #444444;
  top: -12px;
}

@media (min-width: 768px) {
  .control__mark-checkbox {
    width: 52px;
    height: 52px;
  }
}
.control:hover .control__mark-radio,
.control:hover .control__mark-checkbox {
  border-color: #62d1ba;
}

.control_input:disabled + .control__mark-radio,
.control_input:disabled + .control__mark-checkbox {
  border-color: #444444;
}

.control input[type=checkbox]:checked + .control__mark-checkbox::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 16px;
  background-image: url("../img/tick.svg");
  top: 11px;
  left: 7px;
}

@media (min-width: 768px) {
  .control input[type=checkbox]:checked + .control__mark-checkbox::after {
    width: 32px;
    height: 22px;
    background-image: url("../img/tick-big.svg");
    top: 16px;
    left: 11px;
  }
}
.control__descr {
  display: block;
  margin-left: 61px;
}

@media (min-width: 768px) {
  .control__descr {
    margin-left: 82px;
  }
}
.header-catalog {
  background-color: #f1f1f1;
}

.header-catalog__title {
  margin: 73px 0;
}

.about-shop__title {
  padding: 31px 0 46px 0;
}

.about-shop__list {
  list-style: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.about-shop__item {
  padding: 42px 0;
  position: relative;
}
.about-shop__item_flower::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-flower.svg");
  width: 33px;
  height: 38px;
  top: -16px;
}
.about-shop__item_money::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-money.svg");
  width: 47px;
  height: 27px;
  top: -10px;
}
.about-shop__item_heart::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-heart.svg");
  width: 34px;
  height: 27px;
  top: -10px;
}
.about-shop__item_clew::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-clew.svg");
  width: 35px;
  height: 34px;
  top: -10px;
}
.about-shop__item_rocket::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-rocket.svg");
  width: 55px;
  height: 23px;
  top: -10px;
}
.about-shop__item_present::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-present.svg");
  width: 33px;
  height: 32px;
  top: -10px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__image {
  margin-top: 30px;
  display: block;
  border: 1px solid #ececec;
}

.catalog__title {
  padding-left: 28px;
}

.catalog__descr {
  font-size: 13px;
  line-height: 30px;
  padding: 10px 0 20px 28px;
  margin: 0;
  display: block;
}

.catalog__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  padding: 22px 0 26px;
  display: block;
}

.catalog__decor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ececec;
  width: 204px;
  margin-left: 28px;
}

.catalog__decor-border {
  display: block;
  border: 1px solid #ececec;
  padding-top: 27px;
  width: 260px;
}

.catalog__button-basket {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.contacts__maps {
  margin-left: -30px;
  margin-bottom: 42px;
}

.contacts__title {
  margin: 38px 0 28px;
}

.contacts__list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 62px;
}

.contacts__text {
  padding: 7px 0;
}

.contacts__e-mail,
.contacts__address {
  padding: 7px 0;
}

.contacts__e-mail-link {
  text-decoration: none;
  color: #444444;
  border-bottom: 1px solid #63d1bb;
  padding-bottom: 2px;
}

.contacts__address-text {
  font-style: normal;
}

.contacts__button {
  padding: 16px 50px;
  margin-bottom: 39px;
}

.main-footer {
  width: 320px;
  margin: 0 auto;
  background-color: #f1f1f1;
}

@media (min-width: 768px) {
  .main-footer {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .main-footer {
    width: 1150px;
    margin: 0 auto;
  }
}
.main-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .main-footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}
.main-footer__social-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 0 32px;
  width: 142px;
}

.main-footer__link {
  display: none;
}

@media (min-width: 768px) {
  .main-footer__link {
    display: block;
  }
}
.main-footer__text {
  color: #000000;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  display: inline-block;
  padding: 29px 0 31px;
}

.main-footer__decor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  width: 180px;
}

@media (min-width: 768px) {
  .main-footer__decor {
    border-top: none;
  }
}
.main-header__button {
  border: none;
  cursor: pointer;
}

.main-header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .main-header__button {
    display: none;
  }
}
.modal {
  display: none;
}

.order-form__descr {
  font-size: 13px;
  line-height: 24px;
  padding: 17px 0 29px;
  margin: 0;
}

.order-form__filter {
  border: none;
  padding: 0;
  margin: 0;
}

.order-form__filter,
.order-form__form,
.order-form__label-title {
  position: relative;
}

.order-form__filter::after,
.order-form__form::after,
.order-form__label-title::after {
  position: absolute;
  content: "";
  border-top: 1px solid #62d1ba;
  width: 200px;
  height: 1px;
  right: 0;
  top: 8px;
}

.order-form__filter_line::after,
.order-form__form_line::after {
  top: -8px;
}

.order-form__label-title_line_s::after {
  width: 182px;
}

@media (min-width: 768px) {
  .order-form__filter::after,
.order-form__form::after,
.order-form__label-title::after {
    display: none;
  }
}
.order-form__label-title_phone::before {
  position: absolute;
  content: "";
  background-image: url("../img/phone.svg");
  width: 25px;
  height: 24px;
  right: 0;
  top: 24px;
  z-index: 1;
}

.order-form__label-title_mail::before {
  position: absolute;
  content: "";
  background-image: url("../img/mail.svg");
  width: 32px;
  height: 21px;
  right: 0;
  top: 28px;
  z-index: 1;
}

.order-form__form {
  border: none;
  padding: 0;
  margin: 0;
}

.order-form__filter-list {
  margin: 35px 0 43px;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.order-form__filter-item_radio {
  margin: 24px 0;
}

.order-form__filter-item_checkbox {
  margin: 35px 0;
}

.order-form__form-list {
  margin: 0;
  padding: 0 0 42px;
  list-style: none;
}

.order-form__form-item {
  display: flex;
  flex-direction: column;
}

.order-form__form-label {
  padding: 21px 0 16px;
  color: #000000;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.order-form__form-input,
.order-form__input {
  border: none;
  color: #000000;
  font-size: 17px;
  line-height: 18px;
}

.order-form__form-input {
  padding: 17px 0;
  border-bottom: 2px solid #000000;
}

input::placeholder,
textarea::placeholder {
  color: #000000;
  opacity: 30%;
}

.order-form__input {
  position: relative;
  padding: 15px 0 19px;
  border-bottom: 2px solid #000000;
  margin-bottom: 40px;
  width: 260px;
  font-family: inherit;
}

.order-form__textarea {
  width: 260px;
  padding: 17px;
  margin: 22px 0 17px;
  box-sizing: border-box;
  color: #000000;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid #444444;
  resize: none;
  font-family: inherit;
}

.order-form__descr-form {
  font-size: 14px;
  line-height: 16px;
  margin: 17px 0 30px;
}

.order-form__button {
  padding: 18px 37px;
  margin-bottom: 55px;
}

.production-decor {
  border: 1px solid #ececec;
  margin-top: 30px;
  margin-bottom: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.production__title {
  padding: 21px 0 26px 91px;
  position: relative;
}
.production__title::before {
  position: absolute;
  content: "";
  background-image: url("../img/video-icon.svg");
  width: 32px;
  height: 22px;
  left: 34px;
  bottom: 39px;
}

.production__descr {
  margin: 0;
  padding: 34px 0 41px 35px;
  font-size: 13px;
  line-height: 24px;
}

.production__button {
  padding: 18px 11px;
  margin-bottom: 33px;
}

.reviews__title {
  padding: 16px 0 14px;
}

.reviews__slider {
  display: none;
}

.reviews__slider-open {
  display: block;
}

.reviews__description {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  padding-bottom: 33px;
}

.reviews__name {
  color: #000000;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: block;
  padding-bottom: 8px;
}

.reviews__link {
  text-decoration: none;
  color: #444444;
  display: block;
  margin-bottom: 30px;
  font-family: "open sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
}

.reviews__button-icon {
  border: 1px solid #ececec;
  background-color: #ffffff;
  margin: 0;
  padding: 13px 44px 13px 35px;
  cursor: pointer;
}

.reviews__button-decor {
  display: flex;
  margin-bottom: 38px;
}

.reviews__button {
  padding: 16px 78px;
  position: relative;
  margin-bottom: 45px;
}
.reviews__button::after {
  position: absolute;
  content: "";
  background-image: url("../img/zigzag-line.svg");
  width: 320px;
  height: 6px;
  left: -30px;
  right: 30px;
  top: 82px;
}

.week-product__offer {
  text-transform: uppercase;
  color: #63d1bb;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding-top: 3px;
  padding-bottom: 17px;
  display: block;
}

.week-product__descr {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 28px;
}

.week-product__list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 28px;
}

.week-product__name {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

.week-product__text {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
  margin: 0;
}

.week-product__image {
  margin-bottom: 25px;
}

.week-product__price {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 24px;
}

.week-product__button {
  padding: 16px 82px;
  margin-bottom: 36px;
  position: relative;
}
.week-product__button::after {
  position: absolute;
  content: "";
  background-image: url("../img/zigzag-line.svg");
  width: 320px;
  height: 6px;
  left: -30px;
  right: 30px;
  top: 82px;
}
/*# sourceMappingURL=style.css.map */