.about-shop {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/zigzag-line.svg");
    width: 320px;
    height: 6px;
    left: 0;
    top: 0;
  }
}

.about-shop__title {
  padding: 38px 0 82px 0;
}

.about-shop__list {
  list-style: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.about-shop__item {
  padding-bottom: 83px;
  position: relative;

  &_present {
    padding-bottom: 43px;
  }

  &_flower::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-flower.svg");
    width: 33px;
    height: 38px;
    top: -55px;
    left: 8px;
  }

  &_money::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-money.svg");
    width: 47px;
    height: 27px;
    top: -54px;
  }

  &_heart::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-heart.svg");
    width: 34px;
    height: 27px;
    top: -49px;
    left: 7px;
  }

  &_clew::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-clew.svg");
    width: 35px;
    height: 34px;
    top: -52px;
    left: 3px;
  }

  &_rocket::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-rocket.svg");
    width: 55px;
    height: 23px;
    top: -50px;
    left: -6px;
  }

  &_present::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-present.svg");
    width: 33px;
    height: 32px;
    top: -52px;
    left: 3px;
  }
}

@media (min-width: $tablet-width) {
  .about-shop__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 0 60px;
    font-size: 20px;
    line-height: 22px;
  }

  .about-shop__title {
    padding: 26px 0 41px;
  }

  .about-shop__item {
    padding: 55px 0;
  }

  .about-shop__item_flower {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .about-shop__item_flower::before {
    top: 0;
  }

  .about-shop__item_money {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .about-shop__item_money::before {
    top: 3px;
  }

  .about-shop__item_heart {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .about-shop__item_heart::before {
    top: 8px;
  }

  .about-shop__item_clew {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .about-shop__item_clew::before {
    top: 3px;
    left: 2px;
  }

  .about-shop__item_rocket {
    grid-row: 2/2;
    grid-column: 2/3;
  }

  .about-shop__item_rocket::before {
    top: 6px;
    left: -8px;
  }

  .about-shop__item_present {
    grid-row: 3/4;
    grid-column: 2/3;
    padding-bottom: 81px;
    padding-top: 58px;
  }

  .about-shop__item_present::before {
    top: 5px;
    left: 2px;
  }

  .about-shop::before {
    position: absolute;
    content: "";
    background-image: url("../img/zigzag-line-tablet.svg");
    min-width: 768px;
    height: 17px;
    left: 0;
    top: -46px;
  }
}

@media (min-width: $desktop-width) {
  .about-shop::before {
    background-image: url("../img/zigzag-line-desktop.svg");
    min-width: 1050px;
    height: 23px;
    top: 0;
    left: 50px;
  }

  .about-shop__title {
    margin-left: 16.5%;
    padding-top: 88px;
  }

  .about-shop__list {
    width: 67%;
    margin: 0 auto;
  }
}
