.button {
  font-family: "open sans", "arial", "tahoma", sans-serif;
  line-height: 20px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $anthracite;
  background-color: $white;
  border: 2px solid $anthracite;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: $white;
    background-color: $anthracite;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button_green {
  padding: 18px 67px;
  font-size: 17px;
  line-height: 16px;
  border: none;
  background-color: $downy-green;
  color: $white;
  box-shadow: inset 0 0 0 2px $downy-green;
  transition: color 0.3s, background-color 0.3s;
}

.button_green:hover {
  color: $downy-green;
  background-color: $white;
}

.button_green:active {
  color: rgba(99, 209, 187, 0.3);
}


@media (min-width: $tablet-width) {
  .button {
    font-size: 17px;
  }
}
