.container_wrapper {
  padding: 0 30px;
  min-width: 81%;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container_wrapper {
    padding: 0 50px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .container_wrapper {
    padding: 0 50px;
    margin: 0 auto;
  }
}
