.control {
  position: relative;
  display: block;
}

.control__mark-radio {
  position: absolute;
  width: 38px;
  height: 38px;
  border: 2px solid $anthracite;
  border-radius: 50%;
  top: -9px;
  left: -1px;
}

.control input[type="radio"]:checked + .control__mark-radio::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $downy-light-green;
  left: 12px;
  top: 12px;
}

.control__mark-checkbox {
  position: absolute;
  width: 35px;
  height: 35px;
  border: 2px solid $anthracite;
  top: -12px;
}

.control__input-radio:focus-visible + .control__mark-radio,
.control__input-checkbox:focus-visible + .control__mark-checkbox {
  border-color: $downy-light-green;
}

.control:hover .control__mark-radio,
.control:hover .control__mark-checkbox {
  border-color: $downy-light-green;
}

.control input[type="checkbox"]:checked + .control__mark-checkbox::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 16px;
  background-image: url("../icons/tick.svg");
  top: 8px;
  left: 5px;
}

.control__descr {
  display: block;
  margin-left: 61px;
}

@media (min-width: $tablet-width) {
  .control__descr {
    margin-left: 79px;
  }

  .control__mark-radio {
    width: 47px;
    height: 47px;
    top: -16px;
  }

  .control input[type="radio"]:checked + .control__mark-radio::after {
    content: "";
    width: 20px;
    height: 20px;
    left: 14px;
    top: 14px;
  }

  .control__mark-checkbox {
    width: 48px;
    height: 48px;
    top: -15px;
  }

  .control input[type="checkbox"]:checked + .control__mark-checkbox::after {
    width: 32px;
    height: 22px;
    background-image: url("../icons/tick-big.svg");
    top: 16px;
    left: 9px;
  }
}
