.container-index_wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: $desktop-width) {
  .container-index_wrapper {
    width: 1150px;
    margin: 0 auto;
  }
}
