.header-form {
  background-color: $grey;
}

.header-form__title {
  text-align: center;
  padding: 74px 0 72px;
}

@media (min-width: $tablet-width) {
  .header-form__title {
    padding: 101px 0 88px;
  }
}

@media (min-width: $desktop-width) {
  .header-form__title {
    padding-bottom: 112px;
  }
}
