.header-catalog {
  background-color: $grey;
  width: 100%;
}

.header-catalog__title {
  padding: 70px 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .header-catalog__title {
    padding: 101px 0 66px;
  }
}

@media (min-width: $desktop-width) {
  .header-catalog__title {
    padding: 101px 0 82px;
  }
}
