.hero {
  width: 320px;
}

.hero__image {
  background-image: url("../img/background/background-hero-mobile.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  //border-top: 1px solid $light-grey;
}

.hero__container {
  display: grid;
  grid-template-rows: repeat(2,auto);
  align-content: space-between;
}

.hero__list {
  list-style: none;
  padding: 0;
  padding-bottom: 34px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .hero {
    width: 768px;
  }

  .hero__image {
    background-image: url("../img/background/background-hero-tablet.jpg");
    height: 100vh;
    //margin-top: -24px;
  }

  .hero__container {
    display: grid;
  }

  .hero__list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

.hero__title {
  text-align: center;
  padding: 73px 7px 0;
}

.hero__link {
  text-decoration: none;
  color: $white;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

.hero__item {
  padding: 24px 0 31px 30px;
  position: relative;

  &_light-green {
    background-color: $downy-green;
  }

  &_green {
    background-color: $blue-green;
  }

  &_interior::before {
    content: "";
    position: absolute;
    background-image: url("../img/interior.svg");
    width: 40px;
    height: 62px;
    right: 36px;
  }

  &_toys::before {
    content: "";
    position: absolute;
    background-image: url("../img/toy.svg");
    width: 60px;
    height: 60px;
    right: 27px;
  }
}
