.hero__image {
  background-image: url("../img/background/background-hero-mobile.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-color: $grey;
  background-size: 100% auto;
  background-position: 50% 5%;
}

.hero__container {
  width: 320px;
  margin: 0 auto;
}

.hero__title {
  text-align: center;
  padding: 90px 7px 120px;
}

@media (min-width: $tablet-width) {
  .hero__image {
    background-image: url("../img/background/background-hero-tablet.jpg");
    height: 746px;
  }

  .hero__title {
    padding-top: 155px;
  }

  .hero__container {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .hero__image {
    background-image: url("../img/background/background-hero-desktop.jpg");
  }

  .hero__title {
    padding-right: 12%;
    padding-left: 12%;
  }

  .hero__container {
    width: 1150px;
  }
}
