.hero__image {
  background-image: url("../img/background/background-hero-mobile.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-color: $grey;
  background-size: 100% 126%;
  background-position: 50% 5%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/background-hero-mobile@2.jpg");
    background-size: 360px 126%;
  }
}

.hero__container {
  width: 320px;
  margin: 0 auto;
}

.hero__title {
  text-align: center;
  padding: 90px 7px 120px;
}

@media (min-width: $tablet-width) {
  .hero__image {
    background-image: url("../img/background/background-hero-tablet.jpg");
    height: 746px;
    background-size: 100% 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/background-hero-tablet@2.jpg");
      background-size: 768px 100%;
    }
  }

  .hero__title {
    padding-top: 155px;
  }

  .hero__container {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .hero__image {
    background-image: url("../img/background/background-hero-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/background-hero-desktop@2.jpg");
      background-size: 1150px 100%;
    }
  }

  .hero__title {
    padding-right: 12%;
    padding-left: 12%;
  }

  .hero__container {
    width: 1150px;
  }
}
