.main-nav {
  // display: none;
  display: grid;
  z-index: 1;
  min-height: 79px;
  background-color: $white;
  width: auto;
  position: relative;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    text-decoration: none;
    color: $black;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }
}

.main-nav__button {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 2;
  display: block;
  width: 27px;
  height: 27px;
  background-color: $white;
  cursor: pointer;
  border: none;
}

.main-nav_closed .main-nav__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 2px;
  background-color: $light-black;
  box-shadow: 0 8px 0 0 $light-black, 0 16px 0 0 $light-black;
}

.main-nav_opened .main-nav__button {
  top: 30px;
  left: auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    background-color: $black;
    left: 0;
    top: 12px;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}


@media (min-width: $tablet-width) {
  .main-nav__link_saze-m {
    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link_saze-l {
    font-size: 17px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__item-search {
    padding: 36px 32px 34px;
    border-left: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__item-basket {
    padding: 33px 0 31px 53px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
  }
}

.main-nav__logo-link {
  padding: 22px 0;
}

@media (min-width: $desktop-width) {
  .main-nav__logo-link {
    grid-column: 2/3;
    padding: 9px 101px 13px 70px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list-user {
    grid-column: 2/3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list-user {
    grid-column: 3/4;
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list-user::after {
    content: "Бесплатная доставка по России";
    position: absolute;
    top: 94px;
    font-size: 15px;
    color: $anthracite;
    line-height: 24px;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list-user::after {
    content: "Бесплатная доставка по России";
    position: absolute;
    right: 0;
    top: 80px;
    font-size: 15px;
    color: $anthracite;
    line-height: 24px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list-shop {
    grid-row: 2/2;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 20px;
    //z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list-shop {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item-decor {
    position: relative;
    border-right: 1px solid $light-grey;
    padding: 26px 0;
  }
}

//@media (min-width: $desktop-width) {
  //.main-nav__item-decor::after {
  //content: "";
  //position: absolute;
  //border-left: 1px solid $light-grey;
  //width: 1px;
  //height: 88px;
  //right: 0;
  //bottom: -18px;

.main-nav__list-shop-new {
  display: none;
}

@media (min-width: $desktop-width) {
  .main-nav__list-shop-new {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 50px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__text {
    display: none;
  }
}
