.main-container__center {
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex-grow: 1;
}

@media (min-width: $tablet-width) {
  .main-container {
    //width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .main-container {
    //width: 1150px;
  }
}
