.main-nav {
  display: grid;
  z-index: 1;
  //min-height: 79px;
  background-color: $white;
  width: 100%;
  position: relative;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__link {
  text-decoration: none;
  color: $black;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 28px 0 27px 24%;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__button {
  position: absolute;
  top: -52px;
  right: 28px;
  display: block;
  width: 27px;
  height: 27px;
  cursor: pointer;
  border: none;
  background-color: $white;
}

.main-nav_closed .main-nav__button::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 2px;
  width: 21px;
  height: 2px;
  background-color: $light-black;
  box-shadow: 0 7px 0 0 $light-black, 0 14px 0 0 $light-black;
}

.main-nav_opened {
  margin-top: 400px;
  position: absolute;
}

.main-nav_opened .main-nav__button {
  background-color: $white;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    background-color: $black;
    left: 0;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav_closed .main-nav__item {
    display: none;
  }
}

.main-nav_opened .main-nav__list-shop .main-nav__list-user {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.main-nav_nojs .main-nav__button {
  display: none;
}

.main-nav_nojs .main-nav__list-shop .main-nav__list-user {
  position: static;
  min-height: 0;
}

.main-nav_nojs .main-nav__item {
  display: block;
}

.main-nav__icon {
  position: absolute;
  left: 10%;
  top: 31px;
  fill: $black;
  fill-opacity: 0.2;
}

.main-nav__link:hover .main-nav__icon {
  fill-opacity: 1;
  fill: $downy-green;
}

.main-nav__item {
  position: relative;
}

.main-nav__item-box {
  position: relative;
}

.main-nav__list-shop-new {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    z-index: 0;
    grid-template-columns: 47% 53%;
  }

  .main-nav::before {
    position: absolute;
    content: "";
    width: 86px;
    height: 35px;
    padding: 22px 0 22px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .main-nav__button {
    display: none;
  }

  .main-nav_opened {
    margin-top: 0;
    position: relative;
  }

  .main-nav__item-box {
    box-shadow: none;
    padding: 0;
  }

  .main-nav__link {
    padding: 0;
  }

  .main-nav__link_saze-m {
    font-size: 15px;
  }

  .main-nav__item-search {
    border-left: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
    margin-right: 8px;
  }

  .main-nav__link-search {
    width: 82px;
    height: 88px;
  }

  .main-nav__item-basket {
    padding: 32px 0 31px 53px;
  }

  .main-nav__icon-basket {
    left: 2px;
    top: 34px;
  }

  .main-nav__icon-search {
    left: 33px;
    top: 36px;
  }

  .main-nav__list-user {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    gap: 21px;
    min-width: 350px;
  }

  .main-nav__list-user::after {
    position: absolute;
    content: "Бесплатная доставка по России";
    font-size: 15px;
    line-height: 24px;
    width: 259px;
    height: 24px;
    top: 109px;
    right: -28px;
  }

  .main-nav__list-shop {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    margin-top: 22px;
    position: absolute;
    width: 305px;
    margin-right: 12px;
  }

  .main-nav__text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link_saze-l {
    font-size: 17px;
  }

  .main-nav {
    display: grid;
    grid-template-columns: 43% 14% 43%;
    justify-items: start;
  }

  .main-nav::before {
    position: absolute;
    content: "";
    width: 149px;
    height: 72px;
    padding: 8px 0 7px;
    grid-column: 2/3;
  }

  .main-nav__list-user {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .main-nav__list-shop {
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 36px;
    align-items: center;
    margin-top: 0;
    width: auto;
  }

  .main-nav__item-decor {
    position: relative;
    border-right: 1px solid $light-grey;
    padding: 33px 26px 31px 0;
  }

  .main-nav__item-search {
    margin-right: 2%;
  }

  .main-nav__item-basket {
    padding: 32px 0.5% 31px 11.5%;
  }

  .main-nav::after {
    position: absolute;
    content: "";
    width: 450px;
    height: 160px;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .main-nav__list-shop-new {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 62px;
    margin-top: 20px;
    position: absolute;
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 2;
  }
}
