/*.order-form__descr,
.order-form__radio,
.order-form__checkbox,
.order-form__name,
.order-form__tel-mail,
.order-form__feedback,
.order-form__decor {
  margin: 0 auto;
}*/

.order-form__descr {
  font-size: 13px;
  line-height: 24px;
  padding: 18px 30px 29px;
  margin: 0;
  position: relative;
}

.order-form__forma {
  padding: 0 30px;
}

.order-form__filter {
  border: none;
  padding: 0;
  margin: 0;
}

.order-form__filter,
.order-form__form,
.order-form__label-title {
  position: relative;
  word-wrap: normal;
}

.order-form__filter::after,
.order-form__form::after,
.order-form__label-title::after {
  position: absolute;
  content: "";
  border-top: 1px solid $downy-light-green;
  width: 77%;
  height: 1px;
  right: 0;
  top: 8px;
}

.order-form__filter_line::after,
.order-form__form_line::after {
  top: -8px;
}

.order-form__label-title_line_s::after {
  width: 70%;
}

.order-form__form {
  border: none;
  padding: 0;
  margin: 0;
}

.order-form__filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.order-form__filter-list_radio {
  padding: 12px 0 41px;
}

.order-form__filter-item_radio {
  margin-top: 24px;
  width: 260px;
}

.order-form__filter-item_checkbox {
  padding-top: 42px;
}

.order-form__filter-item_checkbox:first-child {
  padding-top: 38px;
}

.order-form__filter-item_checkbox:last-child {
  padding-top: 45px;
}

.order-form__form-list {
  margin: 0;
  padding: 0 0 33px;
  list-style: none;
}

.order-form__form-item {
  display: flex;
  flex-direction: column;
}

.order-form__form-item:first-child {
  margin-top: 9px;
}

.order-form__checkbox {
  margin-bottom: 42px;
}

.order-form__form-label {
  padding: 20px 0 0;
  color: $black;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.order-form__form-input,
.order-form__input {
  border: none;
  color: $anthracite;
  font-size: 17px;
  line-height: 18px;
  font-family: "open sans", sans-serif;
  border-bottom: 2px solid $black;

  &:focus {
    outline: none;
    border-bottom: 2px solid $downy-light-green;
  }

  &:active {
    outline: none;
    border-bottom: 2px solid $downy-light-green;
  }

  &:hover {
    border-bottom: 2px solid $downy-light-green;
  }
}

.order-form__form-input {
  padding: 17px 0;
}

input::placeholder,
textarea::placeholder {
  color: $black;
  opacity: 30%;
}

.order-form__input {
  padding: 17px 40px 14px 0;
  margin-bottom: 36px;
  width: 100%;
  font-family: inherit;
  box-sizing: border-box;
  height: 100%;
}

.order-form__input_mail {
  padding: 16px 40px 14px 0;
}

.order-form__tel-mail {
  position: relative;
}

.order-form__icon_phone,
.order-form__icon_mail {
  position: absolute;
  right: 37px;
  margin-top: 12px;
  fill: $black;
  opacity: 0.2;
}

.order-form__icon_phone {
  margin-top: 16px;
}

.order-form__icon_mail {
  margin-top: 20px;
  right: 33px;
}

input:focus ~ .order-form__icon_phone,
input:focus ~ .order-form__icon_mail {
  fill: $downy-light-green;
  opacity: 1;
}

input:hover ~ .order-form__icon_phone,
input:hover ~ .order-form__icon_mail {
  fill: $downy-light-green;
  opacity: 1;
}

.order-form__textarea {
  width: 100%;
  padding: 16px;
  margin: 22px 0 11px;
  box-sizing: border-box;
  color: $black;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid $anthracite;
  resize: none;
  font-family: inherit;

  &:focus {
    outline: none;
    border: 2px solid $downy-light-green;
  }

  &:active {
    border: 2px solid $downy-light-green;
  }

  &:hover {
    border: 2px solid $downy-light-green;
  }
}

.order-form__descr-form {
  font-size: 14px;
  line-height: 16px;
  margin: 0 10px 30px 0;
}

.order-form__button {
  padding: 14px 45px;
  margin-bottom: 57px;
  font-size: 17px;
}

.order-form__decor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  /*.order-form {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../icons/sprite.svg#zigzag-white-tablet");
      width: 100%;
      height: 24px;
      background-color: $grey;
    }
  }*/

  .order-form__forma {
    padding: 0;
  }

  .order-form__filter::after,
  .order-form__form::after,
  .order-form__label-title::after {
    display: none;
  }

  .order-form__descr {
    padding: 70px 50px 63px;
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__radio,
  .order-form__checkbox,
  .order-form__name,
  .order-form__feedback,
  .order-form__decor {
    padding: 0 50px;
  }

  .order-form__filter-list {
    font-size: 19px;
  }

  .order-form__radio {
    padding-top: 16px;
    padding-bottom: 26px;
  }

  .order-form__filter-list_radio {
    margin-left: 25.5%;
    margin-top: -86px;
  }

  .order-form__filter-item_radio {
    margin-top: 58px;
    width: auto;
  }

  .order-form__checkbox {
    background-color: $grey;
    margin-bottom: 67px;
  }

  .order-form__title-checkbox {
    padding-top: 66px;
  }

  .order-form__filter-list_checkbox {
    width: 70%;
    display: grid;
    margin-left: 25%;
    margin-bottom: 70px;
    margin-top: -62px;
    grid-template-columns: 50% 50%;
    gap: 13px 28px;
  }

  .order-form__filter-item_checkbox {
    padding-top: 45px;
  }

  .order-form__filter-item_checkbox:first-child {
    padding-top: 45px;
  }

  .order-form__form-list {
    margin-left: 25%;
    margin-top: -46px;
    margin-bottom: 18px;
  }

  .order-form__form-item {
    flex-direction: row;
    margin-top: 15px;
    width: 100%;
    align-items: center;
  }

  .order-form__form-item:first-child {
    margin-top: 3px;
  }

  .order-form__form-label {
    font-size: 19px;
    margin-right: 26px;
    padding-top: 8px;
  }

  .order-form__form-input {
    padding: 21px 17px 13px;
    font-size: 19px;
    flex-grow: 1;
  }

  .order-form__form-wrapper {
    padding-top: 33px;
    padding-bottom: 39px;
    background-color: $grey;
  }

  .order-form__input_grey {
    background-color: $grey;
  }

  .order-form__tel-mail {
    padding: 0 50px;
    display: flex;
    align-items: center;
  }

  .order-form__input {
    font-size: 19px;
    padding: 24px 56px 12px 18px;
    margin-bottom: 12px;
  }

  .order-form__input_phone {
    padding-bottom: 16px;
  }

  .order-form__icon_phone,
  .order-form__icon_mail {
    right: 74px;
    margin-top: 0;
  }

  .order-form__label-title_phone,
  .order-form__label-title_mail {
    width: 230px;
  }

  .order-form__feedback {
    padding-top: 49px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
  }

  .order-form__textarea-title {
    padding-top: 20px;
  }

  .order-form__textarea {
    margin: 0;
    width: 75%;
    font-size: 19px;
  }

  .order-form__decor {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
  }

  .order-form__descr-form {
    font-size: 17px;
    margin: 0;
  }

  .order-form__button {
    padding: 14px 30px;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  //.order-form__descr,
  //.order-form__filter-checkbox,
  //.order-form__name,
  //.order-form__tel-mail,
  //.order-form__feedback,
  //.order-form__decor {
  .order-form__radio {
    width: 1050px;
    margin: 0 auto;
  }

  .order-form__checkbox {
    width: 100vw;
    padding: 0;
  }

  /*.order-form::before {
    background-image: url("../icons/sprite.svg#zigzag-white-desktop");
    height: 34px;
    background-color: $grey;
  }*/

  .order-form__descr-wrapper {
    margin: 0 auto;
    padding: 0 50px;
    width: 1050px;
  }

  .order-form__descr {
    padding-top: 104px;
    padding-left: 175px;
    padding-right: 150px;
  }

  .order-form__filter {
    padding: 0 60px;
    width: 930px;
    margin: 0 auto;
  }

  .order-form__filter-list_radio {
    margin-left: 117px;
  }

  .order-form__filter-list_checkbox {
    margin-left: 12.5%;
    gap: 13px 47px;
    grid-template-columns: 33% 33% 33%;
  }

  .order-form__filter-item_checkbox {
    padding-top: 44px;
  }

  .order-form__filter-item_checkbox:first-child {
    padding-top: 43px;
  }

  .control__descr-checkbox {
    width: 155px;
  }

  .order-form__name {
    margin: 0 auto;
    padding: 0 110px;
    width: 928px;
  }

  .order-form__form-list {
    width: 75%;
    margin-left: 12.5%;
    margin-top: -48px;
  }

  .order-form__tel-mail {
    padding: 0 110px;
    width: 930px;
    margin: 0 auto;
  }

  .order-form__label-title_mail,
  .order-form__label-title_phone {
    width: 116px;
  }

  .order-form__input {
    width: 75%;
  }

  .order-form__input_mail {
    padding-bottom: 15px;
  }

  .order-form__icon_phone,
  .order-form__icon_mail {
    right: 230px;
    margin-top: 0;
  }

  .order-form__form-wrapper {
    padding-bottom: 38px;
  }

  .order-form__feedback {
    padding-left: 110px;
    padding-bottom: 48px;
    justify-content: flex-start;
    gap: 75px;
    width: 990px;
    margin: 0 auto;
  }

  .order-form__textarea {
    width: 70.8%;
  }

  .order-form__decor {
    padding: 0 224px;
    width: 700px;
    margin: 0 auto;
  }
}
