.order-form__descr {
  font-size: 13px;
  line-height: 24px;
  padding: 18px 0 29px;
  margin: 0;
}

.order-form__filter {
  border: none;
  padding: 0;
  margin: 0;
}

.order-form__filter,
.order-form__form,
.order-form__label-title {
  position: relative;
}

.order-form__filter::after,
.order-form__form::after,
.order-form__label-title::after {
  position: absolute;
  content: "";
  border-top: 1px solid $downy-light-green;
  width: 200px;
  height: 1px;
  right: 0;
  top: 8px;
}

.order-form__filter_line::after,
.order-form__form_line::after {
  top: -8px;
}

.order-form__label-title_line_s::after {
  width: 182px;
}

@media (min-width: $tablet-width) {
  .order-form__filter::after,
  .order-form__form::after,
  .order-form__label-title::after {
    display: none;
  }
}

.order-form__label-title_phone::before {
  position: absolute;
  content: "";
  background-image: url("../img/phone.svg");
  width: 25px;
  height: 24px;
  right: 7px;
  top: 32px;
  z-index: 1;
}

.order-form__label-title_mail::before {
  position: absolute;
  content: "";
  background-image: url("../img/mail.svg");
  width: 32px;
  height: 21px;
  right: 3px;
  top: 36px;
  z-index: 1;
}

.order-form__form {
  border: none;
  padding: 0;
  margin: 0;
}

.order-form__filter-list {
  margin: 35px 0  43px;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.order-form__filter-item_radio {
  margin-top: 24px;
}

.order-form__filter-item_checkbox {
  margin-top: 42px;
}

.order-form__filter-item_checkbox:first-child {
  margin-top: 38px;
}

.order-form__filter-item_checkbox:last-child {
  margin-top: 45px;
}

.order-form__form-list {
  margin: 0;
  padding: 0 0 32px;
  list-style: none;
}

.order-form__form-item {
  display: flex;
  flex-direction: column;
}

.order-form__form-item:first-child {
  margin-top: 7px;
}

.order-form__form-label {
  padding: 20px 0 0;
  color: $black;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.order-form__form-input,
.order-form__input {
  border: none;
  color: $black;
  font-size: 17px;
  line-height: 18px;
  font-family: "open sans", sans-serif;
}

.order-form__form-input {
  padding: 17px 0;
  border-bottom: 2px solid $black;
}

input::placeholder,
textarea::placeholder {
  color: $black;
  opacity: 30%;
}

.order-form__input {
  position: relative;
  padding: 20px 0 17px;
  border-bottom: 2px solid $black;
  margin-bottom: 35px;
  width: 260px;
  font-family: inherit;
}

.order-form__textarea {
  width: 260px;
  padding: 16px;
  margin: 21px 0 10px;
  box-sizing: border-box;
  color: $black;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid $anthracite;
  resize: none;
  font-family: inherit;
}

.order-form__descr-form {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 30px;
}

.order-form__button {
  padding: 14px 40px;
  margin-bottom: 55px;
}
