.production__decor {
  border: 1px solid $light-grey;
  margin-top: 30px;
  margin-bottom: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.production__title {
  padding: 22px 0 26px 90px;
  position: relative;
  width: 168px;


  &::before {
    position: absolute;
    content: "";
    background-image: url("../icons/sprite.svg#video-icon");
    width: 32px;
    height: 22px;
    left: 34px;
    bottom: 39px;
  }
}

.production__descr {
  margin: 0;
  padding: 36px 0 41px 33px;
  font-size: 13px;
  line-height: 24px;
}

.production__image {
  border-style: none;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.production__img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.production__image::after {
  position: absolute;
  content: "";
  background-image: url("../icons/sprite.svg#play-video");
  width: 101px;
  height: 77px;
  right: 70px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.production__image:hover::after {
  transform: scale(1.2, 1.2) translate(-40%, -40%);
}

.production__image:active::after {
  transform: scale(0.8, 0.8) translate(-60%, -60%);
  opacity: 0.5;
}

.production__button {
  padding: 14px 20px;
  margin-bottom: 33px;
}

.production__decor-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .production__decor {
    margin-top: 0;
    align-items: flex-start;
    margin-bottom: 64px;
  }

  .production__title {
    order: 2;
    padding: 40px 0 0 106px;
    width: 400px;
  }

  .production__title::before {
    left: 42px;
    bottom: 4px;
  }

  .production__image {
    order: 1;
  }

  .production__decor-wrapper {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 40px;
  }

  .production__descr {
    font-size: 15px;
    line-height: 30px;
    padding: 25px 0 41px 0;
  }

  .production__button {
    margin-bottom: 44px;
  }
}

@media (min-width: $desktop-width) {
  .production__decor {
    display: grid;
    grid-template-columns: 65% 35%;
    margin-bottom: 105px;
  }

  .production__decor-wrapper:hover {
    box-shadow: 0 6px 10px $light-grey;
  }

  .production__decor-wrapper:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  .production__image {
    grid-column: 1/2;
    position: relative;
  }

  .production__decor-wrapper {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0 56px 0 80px;
    justify-content: flex-end;
    margin-top: 176px;
  }

  .production__title {
    padding: 97px 50px 0 79px;
    width: 238px;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .production__title::before {
    left: auto;
    bottom: 77px;
  }

  .production__descr {
    padding: 10px 0 52px 0;
  }
}
