.promo {
  position: relative;
}

.promo__container {
  position: relative;
  min-width: 320px;
  max-width: 1150px;
  margin: 0 auto;
}

.promo__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.promo__link {
  text-decoration: none;
  color: $white;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  display: block;
  position: relative;
  padding: 24px 0 31px 30px;
}

.promo__item {
  &_light-green {
    background-color: $downy-green;

    &:hover {
      background-color: $viking-green;
    }
  }

  &_green {
    background-color: $blue-green;

    &:hover {
      background-color: $puerto-rico-green;
    }
  }
}

.promo__icon {
  opacity: 0.5;
  fill: #149080;
  position: absolute;

  &_interior {
    right: 36px;
    bottom: 18px;
  }

  &_toys {
    bottom: 22px;
    right: 28px;
  }
}

.promo__link:hover .promo__icon {
  opacity: 0.7;
}

.promo__link:active .promo__icon {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .promo::before {
    position: absolute;
    content: "";
    background-image: url("../icons/sprite.svg#zigzag-white-tablet");
    width: 100%;
    height: 25px;
    bottom: -10px;
    z-index: 1;
  }

  .promo__list {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: -117px;
  }

  .promo__link {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 0 34px 36px;
  }

  .promo__item {
    &:hover {
      transform: translateY(-5px);
    }
  }

  .promo__icon {
    bottom: 28px;
  }

  .promo__icon_toys {
    right: 33px;
  }
}

@media (min-width: 900px) {
  .promo::before {
    background-image: url("../icons/sprite.svg#zigzag-white-desktop");
    width: 100%;
    height: 34px;
    bottom: -16px;
  }
}
