.social__link_youtube,
.social__link_telegram {
  margin-right: 4px;
}

.social__icon {
  fill: $light-black;
  padding: 5px;

  &:hover {
    fill: $puerto-rico-green;
  }

  &:active {
    opacity: 0.3;
  }
}
