.title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  display: block;
  color: $black;
}

.title-form {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $downy-green;
  display: block;
  text-transform: uppercase;
}
