html {
  width: 100%;
  height: 100%;
}


//Colors
$white: #ffffff;
$anthracite: #444444;
$black: #000000;
$grey: #f1f1f1;
$downy-green: #63d1bb;
$blue-green: #56c3b2;
$light-grey: #ececec;
$mercury-grey: #e5e5e5;


// Viewports
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
