html {
  width: 100%;
  height: 100%;
}

//Colors
$white: #ffffff;
$anthracite: #444444;
$light-black: #231f20;
$black: #000000;
$downy-green: #63d1bb;
$downy-light-green:#62d1ba;
$viking-green:#59d5bc;
$blue-green: #56c3b2;
$puerto-rico-green: #46c1ae;
$light-grey: #ececec;
$mercury-grey: #e5e5e5;
$grey: #f1f1f1;
$silver: #c6c6c6;

//Viewports
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
